$color-primary: #58e1c1;
$color-secondary: #777;
$color-theme1: #927bc1;
$color-theme2: #fd7856;
$color-theme3: #deb2ee;
$color-theme4: #7ee6fd;
$color-theme5: #88d9a0;
$color-theme6: #4da2bb;
$color-theme7: #ec9fa3;
$color-theme8: #fd9f85;
$color-theme9: #e4757a;
$color-theme10: #63cc82;
$color-theme11: #51ddfc;
$color-theme12: #80e8d1;


$mediaq-wide: 768px;

$theme-colors : (
  $color-theme1,
  $color-theme2,
  $color-theme3,
  $color-theme4,
  $color-theme5,
  $color-theme6,
  $color-theme7,
  $color-theme8,
  $color-theme9,
  $color-theme10,
  $color-theme11,
  $color-theme12
);






